@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

*{
    font-family: "Space Grotesk", sans-serif;
    font-family: "Inter", serif;
    font-family: "Inclusive Sans", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



